In [6]:
import json
import pandas as pd
from pandas.io.json import json_normalize
from datetime import datetime

# Read the JSON file
with open('D:/Resume/FetchInterview/receipts.json - Copy/receipts.json') as f:
    #data = json.load(f)
    data = f.read()
    data = data.split("}\n")
    data = [d.strip() + "}" for d in data]
    data = list(filter(("}").__ne__, data))
    data = [json.loads(d) for d in data]

    
#flattened_data = []

#for entry in data:
 #   if 'createDate.$date' in entry:
  #      entry['createDate.$date'] = datetime.utcfromtimestamp(entry['createDate.$date'] / 1000).strftime('%Y-%m-%d %H:%M:%S')
   # if 'dateScanned.$date' in entry:
    #    entry['dateScanned.$date'] = datetime.utcfromtimestamp(entry['dateScanned.$date'] / 1000).strftime('%Y-%m-%d %H:%M:%S')
    #if 'finishedDate.$date' in entry:
    #   entry['finishedDate.$date'] = datetime.utcfromtimestamp(entry['finishedDate.$date'] / 1000).strftime('%Y-%m-%d %H:%M:%S')
    #if 'modifyDate.$date' in entry:
     #   entry['modifyDate.$date'] = datetime.utcfromtimestamp(entry['modifyDate.$date'] / 1000).strftime('%Y-%m-%d %H:%M:%S')
    #if 'pointsAwardedDate.$date' in entry:
     
        #entry['pointsAwardedDate.$date'] = datetime.utcfromtimestamp(entry['pointsAwardedDate.$date'] / 1000).strftime('%Y-%m-%d %H:%M:%S')
    #if 'purchaseDate.$date' in entry:
     #   entry['purchaseDate.$date'] = datetime.utcfromtimestamp(entry['purchaseDate.$date'] / 1000).strftime('%Y-%m-%d %H:%M:%S')
    
   # if 'rewardsReceiptItemList' in entry and entry['rewardsReceiptItemList']:
        # Flatten the 'rewardsReceiptItemList' array and add other data
       # for item in entry['rewardsReceiptItemList']:
           # flat_item = entry.copy()
            #flat_item.update(item)
            #flattened_data.append(flat_item)
            



        
# Flatten the JSON
#flattened_data = pd.json_normalize(data)

# Convert to DataFrame
df = pd.DataFrame(data)

# Remove the original 'rewardsReceiptItemList' column
df.drop(columns=['rewardsReceiptItemList'], inplace=True)

#print(df.head(2))
df
# Write to CSV file
#df.to_csv('D:/Resume/FetchInterview/receipts.json - Copy/output1.csv', index=False)

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5,{'$date': 1609632000000},1.0,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,{'$oid': '603cc0630a720fde100003e6'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614594147000},{'$date': 1614594147000},NaN,{'$date': 1614594148000},NaN,25.0,{'$date': 1597622400000},2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,{'$oid': '603d0b710a720fde1000042a'},NaN,NaN,{'$date': 1614613361873},{'$date': 1614613361873},NaN,{'$date': 1614613361873},NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1116,{'$oid': '603cf5290a720fde10000413'},NaN,NaN,{'$date': 1614607657664},{'$date': 1614607657664},NaN,{'$date': 1614607657664},NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1117,{'$oid': '603ce7100a7217c72c000405'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614604048000},{'$date': 1614604048000},NaN,{'$date': 1614604049000},NaN,25.0,{'$date': 1597622400000},2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,{'$oid': '603c4fea0a7217c72c000389'},NaN,NaN,{'$date': 1614565354962},{'$date': 1614565354962},NaN,{'$date': 1614565354962},NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33

In [8]:
def get_id_oid(row):
    return row['$oid']

df['id_oid'] = df['_id'].apply(lambda x: get_id_oid(x))

df.drop(columns=['_id'], inplace=True)
df

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId,createDate1,dateScanned1,finishedDate1,modifyDate1,pointsAwardedDate1,purchaseDate1,id_oid
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,2021-01-03 00:00:00,5ff1e1eb0a720f0523000575
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,2021-01-02 15:24:43,5ff1e1bb0a720f052300056b
2,5.0,All-receipts receipt bonus,5,1.0,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,2021-01-03 15:25:37,2021-01-03 15:25:37,None,2021-01-03 15:25:42,None,2021-01-03 00:00:00,5ff1e1f10a720f052300057a
3,5.0,All-receipts receipt bonus,5.0,4.0,FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,2021-01-03 00:00:00,5ff1e1ee0a7214ada100056f
4,5.0,All-receipts receipt bonus,5.0,2.0,FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:25:06,2021-01-03 15:25:06,2021-01-03 15:25:11,2021-01-03 15:25:11,2021-01-03 15:25:06,2021-01-02 15:25:06,5ff1e1d20a7214ada1000561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33,2021-03-01 10:22:27,2021-03-01 10:22:27,None,2021-03-01 10:22:28,None,2020-08-17 00:00:00,603cc0630a720fde100003e6
1115,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,2021-03-01 15:42:41,2021-03-01 15:42:41,None,2021-03-01 15:42:41,None,None,603d0b710a720fde1000042a
1116,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,2021-03-01 14:07:37,2021-03-01 14:07:37,None,2021-03-01 14:07:37,None,None,603cf5290a720fde10000413
1117,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33,2021-03-01 13:07:28,2021-03-01 13:07:28,None,2021-03-01 13:07:29,None,2020-08-17 00:00:00,603ce7100a7217c72c000405
1118,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,2021-03-01 02:22:34,2021-03-01 02:22:34,None,2021-03-01 02:22:34,None,None,603c4fea0a7217c72c000389

In [7]:
def extract_date(row):
    if isinstance(row, dict) and '$date' in row:
        return datetime.utcfromtimestamp(row['$date'] / 1000).strftime('%Y-%m-%d %H:%M:%S')
    else:
        return None

df['createDate1'] = df['createDate'].apply(extract_date)
df['dateScanned1'] = df['dateScanned'].apply(extract_date)
df['finishedDate1'] = df['finishedDate'].apply(extract_date)
df['modifyDate1'] = df['modifyDate'].apply(extract_date)
df['pointsAwardedDate1'] = df['pointsAwardedDate'].apply(extract_date)
df['purchaseDate1'] = df['purchaseDate'].apply(extract_date)

df.drop(columns=['createDate', 'dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate', 'purchaseDate'], inplace=True)
df

,_id,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId,createDate1,dateScanned1,finishedDate1,modifyDate1,pointsAwardedDate1,purchaseDate1
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,2021-01-03 00:00:00
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,2021-01-02 15:24:43
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,5,1.0,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,2021-01-03 15:25:37,2021-01-03 15:25:37,None,2021-01-03 15:25:42,None,2021-01-03 00:00:00
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,5.0,4.0,FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,2021-01-03 00:00:00
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,5.0,2.0,FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:25:06,2021-01-03 15:25:06,2021-01-03 15:25:11,2021-01-03 15:25:11,2021-01-03 15:25:06,2021-01-02 15:25:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,{'$oid': '603cc0630a720fde100003e6'},25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33,2021-03-01 10:22:27,2021-03-01 10:22:27,None,2021-03-01 10:22:28,None,2020-08-17 00:00:00
1115,{'$oid': '603d0b710a720fde1000042a'},NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,2021-03-01 15:42:41,2021-03-01 15:42:41,None,2021-03-01 15:42:41,None,None
1116,{'$oid': '603cf5290a720fde10000413'},NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,2021-03-01 14:07:37,2021-03-01 14:07:37,None,2021-03-01 14:07:37,None,None
1117,{'$oid': '603ce7100a7217c72c000405'},25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33,2021-03-01 13:07:28,2021-03-01 13:07:28,None,2021-03-01 13:07:29,None,2020-08-17 00:00:00
1118,{'$oid': '603c4fea0a7217c72c000389'},NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,2021-03-01 02:22:34,2021-03-01 02:22:34,None,2021-03-01 02:22:34,None,None

In [9]:
# Write to CSV file
df.to_csv('D:/Resume/FetchInterview/receipts.json - Copy/receipts-Part1.csv', index=False)

In [14]:
df.isnull().sum().sum()

4160

In [16]:
df.describe()

       bonusPointsEarned  purchasedItemCount
count         544.000000           635.00000
mean          238.893382            14.75748
std           299.091731            61.13424
min             5.000000             0.00000
25%             5.000000             1.00000
50%            45.000000             2.00000
75%           500.000000             5.00000
max           750.000000           689.00000

In [17]:
df.duplicated().sum()

0