In [3]:
import json
import pandas as pd
from pandas.io.json import json_normalize
from datetime import datetime

# Read the JSON file
with open('D:/Resume/FetchInterview/users.json') as f:
    #data = json.load(f)
    data = f.read()
    data = data.split("}\n")
    data = [d.strip() + "}" for d in data]
    data = list(filter(("}").__ne__, data))
    data = [json.loads(d) for d in data]

df = pd.DataFrame(data)

print(df.info())
print(df.head(2))
# Write to CSV file
#df.to_csv('D:/Resume/FetchInterview/receipts.json - Copy/output1.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    object
 3   lastLogin     433 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), object(6)
memory usage: 23.8+ KB
None
                                    _id  active               createdDate  \
0  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  {'$date': 1609687444800}
1  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  {'$date': 1609687444800}

                  lastLogin      role signUpSource state
0  {'$date': 1609687537858}  consumer        Email    WI
1  {'$date': 1609687537858}  consumer        Email    WI

In [4]:
def get_id_oid(row):
    return row['$oid']

df['id_oid'] = df['_id'].apply(lambda x: get_id_oid(x))

df.drop(columns=['_id'], inplace=True)
df

,active,createdDate,lastLogin,role,signUpSource,state,id_oid
0,True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI,5ff1e194b6a9d73a3a9f1052
1,True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI,5ff1e194b6a9d73a3a9f1052
2,True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI,5ff1e194b6a9d73a3a9f1052
3,True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI,5ff1e1eacfcf6c399c274ae6
4,True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...
490,True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN,54943462e4b07e684157a532
491,True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN,54943462e4b07e684157a532
492,True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN,54943462e4b07e684157a532
493,True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN,54943462e4b07e684157a532
494,True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN,54943462e4b07e684157a532

In [6]:
def extract_date(row):
    if isinstance(row, dict) and '$date' in row:
        return datetime.utcfromtimestamp(row['$date'] / 1000).strftime('%Y-%m-%d %H:%M:%S')
    else:
        return None

df['createdDate1'] = df['createdDate'].apply(extract_date)
df['lastLogin1'] = df['lastLogin'].apply(extract_date)

df.drop(columns=['createdDate', 'lastLogin'], inplace=True)
df

,active,role,signUpSource,state,id_oid,createdDate1,lastLogin1
0,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:04,2021-01-03 15:25:37
1,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:04,2021-01-03 15:25:37
2,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:04,2021-01-03 15:25:37
3,True,consumer,Email,WI,5ff1e1eacfcf6c399c274ae6,2021-01-03 15:25:30,2021-01-03 15:25:30
4,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:04,2021-01-03 15:25:37
...,...,...,...,...,...,...,...
490,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,2014-12-19 14:21:22,2021-03-05 16:52:23
491,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,2014-12-19 14:21:22,2021-03-05 16:52:23
492,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,2014-12-19 14:21:22,2021-03-05 16:52:23
493,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,2014-12-19 14:21:22,2021-03-05 16:52:23
494,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,2014-12-19 14:21:22,2021-03-05 16:52:23

In [7]:
# Write to CSV file
df.to_csv('D:/Resume/FetchInterview/users.csv', index=False)